<div class="modal-content">
	<div class="modal-header">
	    <h3 class="modal-title" id="modal-title">{{pie.pieHeading}}</h3>
	</div>
	<div class="modal-body" id="modal-body">
		<div ng-repeat="(k, n) in pie.nodeName" ng-show="pie.enabled==true">
			<p>
				<b>
					echo {{n}}
				</b>
			</p>
			<p>
				{{pie.curlCmd[k]}}
			</p>
			<hr />
		</div>
		
		<div ng-repeat="(k, n) in pieNodes" ng-show="pie.enabled==false">
			<button class="btn btn-lg btn-primary btn-block btn-encryption" ng-click="checkPieNode(n)">
				<b>{{n.nodeName}}</b>
			</button>	
			<hr />
		</div>
	</div>
	<div class="modal-footer">
	    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	</div>
</div>

<!-- <div class="modal-content" ng-show="pie.enabled==false">
	<div class="modal-header">
	    <h3 class="modal-title" id="modal-title">{{pieNodes.pieNodeHeading}}</h3>
	</div>
	<div class="modal-body" id="modal-body">
		
	</div>
	<div class="modal-footer">
	    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	</div>
</div> -->

